<html><title>H0mE</title>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div> {{some}} </div>
</body>
<form method="get" action="/mail">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
    <button type="submit">Twit</button>
</form>
</html>